<a href="https://colab.research.google.com/github/hanarohadah/hanarohadah/blob/main/Basic%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.tampilkan output : "Hallo saya siap belajar bahasa pemprograman python" dengan menggunakan print()

In [ ]:
#Ketik kode Anda disini
print("Hallo saya siap belajar bahasa pemrograman python")

Hallo saya siap belajar bahasa pemrograman python

2.Cek tipe data dari 20/5

In [ ]:
print(type(20/5))

<class 'float'>

3.Konversi 0 ke boolean!

In [ ]:
print(bool(0))

False

4.Buatlah variabel firstname dan variable lastname dengan nama anda lalu print hasilnya

In [ ]:
#Contoh
firtsname = 'Muhammad'
lastname = 'Naufal'
print("nama depan:",firtsname)
print("nama belakang:",lastname)

nama depan: Muhammad
nama belakang: Naufal

In [ ]:
#Ketik kode Anda disini
firstname = 'Hana'
lastname = 'Rohadah'
print("nama depan",firstname)
print("nama belakang",lastname)

nama depan Hana
nama belakang Rohadah

5.Buatlah variabel "a" berupa angka interger dan variabel "b" berupa angka interger (angka bebas)

*   print(a+b)
*   Lihatlah hasil pembagian a dan b lalu buatlah menjadi interger

* print(a*b)
* print a pangkat b

In [ ]:
#Contoh
a = 10
b = 5
print(a+b)
print(a/b) #hasil float
print(a//b) #hasil interger
print(a*b)
print(a**b)

15
2.0
2
50
100000

In [ ]:
a = 7
b = 3
print(a+b)
print(a/b)
print (a//b)
print(a*b)
print(a**b)

10
2.3333333333333335
2
21
343

6.Hitunglah total harga dari 3 buah penghapus seharga 3500, 5 buah buku seharga 25000

In [ ]:
penghapus = 3
harga_penghapus = 3500
buku = 5
harga_buku = 25000

total_harga_penghapus = (penghapus*harga_penghapus)
total_harga_buku = (buku*harga_buku)

print(f"Harga {penghapus} penghapus adalah {total_harga_penghapus}")
print(f"Harga {buku} buku adalah {total_harga_buku}")
print(f"Total semuanya adalah {total_harga_penghapus+total_harga_buku}")

Harga 3 penghapus adalah 10500
Harga 5 buku adalah 125000
Total semuanya adalah 135500

7.Harga sebuah barang adalah 750000, hitunglah harga barang setelah mendapat potongan harga 45%!

In [ ]:
Harga_barang = 750000
diskon = 45/100
Potongan_diskon = diskon*Harga_barang
print(f"Harga barang setelah diskon adalah Rp. {Harga_barang-Potongan_diskon}")

Harga barang setelah diskon adalah Rp. 412500.0

8.Ambil indeks ke 2 dari string "Python itu asik"

In [ ]:
#contoh indexing
teks = 'Belajar itu asik'
teks[2] #ambil index ke 2

'l'

In [ ]:
teks = 'Python itu asik'
karakter = teks [2]
print(f"Karakter di indeks ke-2 adalah {karakter}")

Karakter di indeks ke-2 adalah t

9.Ambil kata "yuk" dari string "ayuk"

In [ ]:
teks = 'ayuk'
karakter = teks [1:4]

print (karakter)

yuk

10.Keluarkan output "Akhirnya selesai"

In [ ]:
print("Akhirnya Selesai")

Akhirnya Selesai

11.Gabungkan list a = [1,'hallo', 2,3] dengan list b = ['pagi', 1000]

In [ ]:
#Cara gabungkan list
a = ['test',1,2]
b = [3,4,5]
a+b

['test', 1, 2, 3, 4, 5]

In [ ]:
a = [1, "hallo", 2, 3]
b = ["pagi", 1000]

print(a+b)

[1, 'hallo', 2, 3, 'pagi', 1000]

12.Buatlah sebuah list new_list yang berisi indonesia, True, 7, [1, 2, 3], 1.5

In [ ]:
#Cara buat nested list
contoh = ['malaysia',True,[9,8,7],2.5] #isi list hanya contoh
contoh

['malaysia', True, [9, 8, 7], 2.5]

In [ ]:
a = ['Indonesia', 'True', 7, [1, 2, 3], 1.5]
print (a)

['Indonesia', 'True', 7, [1, 2, 3], 1.5]

13.Ambil elemen list pada indeks 2 dari list new_list

In [ ]:
#Contoh indexing list indeks
contoh = ['malaysia',True,[9,8,7],2.5] #isi list hanya contoh
contoh[2]

[9, 8, 7]

In [ ]:
new_list = ['Indonesia', 'True', 7, [1, 2, 3], 1.5]
print(new_list[2])

7

14.Ambil elemen list pada indeks 1, 2, 3 dari list new_list !

In [ ]:
#cara slicing
contoh[1:4]

[True, [9, 8, 7], 2.5]

In [ ]:
a = [True, [9, 8, 7], 2.5]

print(a[1:4])

[[9, 8, 7], 2.5]

15.Hapus 1.5 pada list new_list

In [ ]:
#cara hapus isi list
contoh.remove(2.5)
contoh

['malaysia', True, [9, 8, 7]]

In [ ]:
a = ['malaysia', True, [9, 8, 7],2.5]
a.remove(2.5)
print(a)

['malaysia', True, [9, 8, 7]]

-Selamat mengerjakan-